#root > div > div > div {
  padding: 2px;
  margin-bottom: 5rem;
}

.video-thumbnail {
  transition: .5s;
  width: 100%;
}

.thumbnail-box {
  cursor: pointer;
  transition: 0.5s;
}

.thumbnail-box:hover {
  transform: scale(1.3);
}

.thumbnail-box:hover .thumbnail-overlay{
  z-index: 3;
  background-color: rgba(0,0,0,0.3);
}

.thumbnail-box:hover img {
  z-index: 3;
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  background-color: rgba(0,0,0,0);
  border: 0px;
}

.overlay-contents-left {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.overlay-contents-bottom {
  opacity: 0;
}

.thumbnail-box:hover .overlay-contents-left {
  opacity: 1;
  z-index: 12;
}

.thumbnail-box:hover .overlay-contents-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  opacity: 1;
}

.grid-column {
  margin-bottom: 5rem;
}