

.contain {
  width: 90%;
  margin: 0 auto;
}


#root > div > div > div {
  padding: 2px;
  margin-bottom: 5rem;
}

.video-thumbnail {
  transition: .5s;
  width: 100%;
}

.thumbnail-box {
  transition: 0.5s;
}

.thumbnail-box:hover {
  z-index: 5;
  position: relative;
  transform: scale(1.3);
}

.thumbnail-box:hover .thumbnail-overlay{
  z-index: 3;
  background-color: rgba(0,0,0,0.3);
}

.thumbnail-box:hover img {
  z-index: 3;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  background-color: rgba(0,0,0,0);
  border: 0px;
}

.overlay-contents-left {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.overlay-contents-bottom {
  opacity: 0;
}

.thumbnail-box:hover .overlay-contents-left {
  opacity: 1;
  z-index: 12;
}

.contain {
	width: 80%;
	margin: 0 auto;
}

/* carousel styles */

.main {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section {
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}

.section::-webkit-scrollbar {
  visibility: hidden;
}

.data-item {
  min-width: 20%;
  transition: 0.5s;
  margin: 1rem;
  position: relative;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  left: 2%;
  z-index: 1;
}

.right-arrow {
  left: 95%;
  text-align: right;
}